# Datos de despliegue
NODE_ENV=development
PORT=3000

# Configuración de la base de datos
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=database_db
DB_SCHEMA=proyecto
DB_PORT=5432

DB_SCHEMA_PRODUCTOS=productos #aumentado
DB_SCHEMA_USUARIOS=usuarios
DB_SCHEMA_PARAMETRICAS=parametricas

# Configuración general de la aplicación
PATH_SUBDOMAIN=api

# Configuración para módulo de autenticación
JWT_SECRET=super+secret+jwt
JWT_EXPIRES_IN=300000

REFRESH_TOKEN_NAME=jid
REFRESH_TOKEN_EXPIRES_IN=3600000
REFRESH_TOKEN_ROTATE_IN=900000
REFRESH_TOKEN_SECURE=false
REFRESH_TOKEN_DOMAIN=test.agetic.gob.bo
REFRESH_TOKEN_PATH=/
REFRESH_TOKEN_REVISIONS='*/5 * * * *'

# Configuración para el servicio de Mensajería Electrónica (Alertín), si se utiliza en el sistema
MSJ_URL=https://<URL_BASE_MENSAJERIA>/
MSJ_TOKEN=<TOKEN_MENSAJERIA>

# Configuración para el servicio SEGIP de IOP, si corresponde
IOP_SEGIP_URL=https://interoperabilidad.agetic.gob.bo/fake/segip
IOP_SEGIP_TOKEN=<TOKEN_IOP>

# Configuración para el servicio SIN de IOP, si corresponde
IOP_SIN_URL=https://interoperabilidad.agetic.gob.bo/fake/impuestos/v1
IOP_SIN_TOKEN=<TOKEN_IOP>

# Configuración para la integracion de autenticación con Ciudadanía Digital
OIDC_ISSUER=https://account-idetest.agcs.agetic.gob.bo
OIDC_CLIENT_ID=lKJbm1ZYaBEVp_tvbGwfr
OIDC_CLIENT_SECRET=zjGfUxQImtZU3-lboTRSCTqfFW4QRKTbIcyzwQsWysVJR5mAAt8HfFBdHKAT6YY1nHkROhWgUZZ8OSKFw95KNw
OIDC_SCOPE='openid profile fecha_nacimiento email celular offline_access'
OIDC_REDIRECT_URI=http://localhost:8080/login/ciudadania
OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:8080/login
SESSION_SECRET=super+secret+session+key

# Configurar la URL del frontend, según el ambiente de despliegue
URL_FRONTEND=http://localhost:8080/

# Configuración para almacenamiento de archivos
STORAGE_NFS_PATH=<DIRECTORIO_ARCHIVOS>/

# Configuración de Logs, según el ambiente. Ej: LOG_PATH=/tmp/logs/
LOG_PATH=
LOG_SQL=true

LOG_SIZE=5M
LOG_INTERVAL=1d
LOG_COMPRESS=false

LOG_HIDE='errorRequest.headers.authorization errorRequest.headers.cookie errorRequest.body.contrasena'
LOG_URL=
LOG_URL_TOKEN=
