module.exports = {
  apps: [
    {
      name: 'agetic-nestjs-base-backend',
      script: './dist/src/main.js',
      instances: 1,
      env: {
        NODE_ENV: 'production',
      },
    },
  ],
}
